<a href="https://colab.research.google.com/github/xuover/google-homepage/blob/master/moving_averages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# This program attempts to calculate P20DMA for a users selected holdings
# credit "Richard Moglen" YouTube channel

In [0]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt
from pandas_datareader import data as pdr

In [0]:
# Workaround for yfinance
yf.pdr_override()

In [21]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.6/dist-packages (0.1.54)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.2)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.21.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.25.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2019.11.28)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)

In [22]:
# Inputs from user interface

stock = input("Enter a ticker symbol: ")
print(stock)

startyear = int(input("Enter start year: "))
startmonth = int(input("Enter start month: "))
startday = int(input("Enter start day: "))

start = dt.datetime(startyear, startmonth, startday)

now = dt.datetime.now()

Enter a ticker symbol: qqq
qqq
Enter start year: 2009
Enter start month: 1
Enter start day: 1

In [23]:
# Get dataframe for stock

df = pdr.get_data_yahoo(stock, start, now)
print(df)

[*********************100%***********************]  1 of 1 completed
                  Open        High  ...   Adj Close     Volume
Date                                ...
2009-01-02   29.750000   31.129999  ...   27.793058  107891500
2009-01-05   30.830000   31.330000  ...   27.784103   91751900
2009-01-06   31.250000   31.629999  ...   28.061762  136791700
2009-01-07   30.730000   30.900000  ...   27.264603  133879800
2009-01-08   30.379999   30.799999  ...   27.551231  131926600
...                ...         ...  ...         ...        ...
2020-03-16  171.500000  184.679993  ...  169.300003   92054400
2020-03-17  175.339996  184.389999  ...  182.139999  121257100
2020-03-18  171.500000  179.220001  ...  176.600006  114156300
2020-03-19  175.429993  183.490005  ...  177.660004  120896500
2020-03-20  181.889999  182.869995  ...  170.699997  114747100

[2823 rows x 6 columns]

In [24]:
# Calc 20D moving average

ma = 20

smaString = "sma_"+str(ma)

df[smaString] = df.iloc[:,4].rolling(window=ma).mean()

print(df)

                  Open        High  ...     Volume      sma_20
Date                                ...
2009-01-02   29.750000   31.129999  ...  107891500         NaN
2009-01-05   30.830000   31.330000  ...   91751900         NaN
2009-01-06   31.250000   31.629999  ...  136791700         NaN
2009-01-07   30.730000   30.900000  ...  133879800         NaN
2009-01-08   30.379999   30.799999  ...  131926600         NaN
...                ...         ...  ...        ...         ...
2020-03-16  171.500000  184.679993  ...   92054400  209.851500
2020-03-17  175.339996  184.389999  ...  121257100  207.222000
2020-03-18  171.500000  179.220001  ...  114156300  204.203001
2020-03-19  175.429993  183.490005  ...  120896500  201.347001
2020-03-20  181.889999  182.869995  ...  114747100  198.368501

[2823 rows x 7 columns]